*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
color:white;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
width:100%;
max-width:500px;
padding:30px;
display:flex;
flex-direction:column;
gap:20px;
}

.logo{
text-align:center;
margin-bottom:30px;
}

.logo h1{
font-size:3rem;
color:#00d4ff;
}

.logo p{
font-size:1.2rem;
margin-top:10px;
}

button{
width:100%;
padding:25px;
border:none;
border-radius:20px;
font-size:1.4rem;
cursor:pointer;
font-weight:bold;
}

.main-btn{
background:#2D9F6A;
color:white;
}

.secondary-btn{
background:#F4B942;
color:black;
}

.emergency-btn{
background:#E63946;
color:white;
}

button:focus{
outline:5px solid white;
transform:scale(1.03);
}
